PATH_add $(pwd)/.bin
PATH_add $(pwd)/hls
# layout pyenv 3.9.12, I have used 3.10.4 too
# Sandbox for having https://github.com/neovim/pynvim, required to avoid
# https://github.com/antoinemadec/coc-fzf/issues/32
source .venv/bin/activate # Populate with pip install -r dev-requirements.txt
unset PS1

