PATH_add $(pwd)/.bin
PATH_add $(pwd)/hls
layout pyenv 3.9.12
# Sandbox for having https://github.com/neovim/pynvim, required to avoid
# https://github.com/antoinemadec/coc-fzf/issues/32
source .venv/bin/activate # Provides pynvim (python3 -m venv .venv; pip3 install pynvim)
unset PS1

