.direnv
.mypy_cache
.venv
.bin/ormolu
app/.ghc.environment.x86_64-linux-8.6.5
app/assets
app/client/.liquid
app/dist
app/dist-newstyle
app/result*
hls
oryx
th/dist-newstyle
th/.stack-work
th/.vscode
th/main.cabal
th/stack.yaml.lock
th/Main
th/Main.dyn_hi
th/Main.dyn_o
th/Main.hi
th/Main.o
videos
