.mypy_cache
.pyenv
.vscode/.ropeproject/
app/.ghc.environment.x86_64-linux-8.6.5
app/assets
app/dist
app/dist-newstyle
app/result*
oryx
th/dist-newstyle
th/.stack-work
th/.vscode
th/main.cabal
th/stack.yaml.lock
th/Main.dyn_hi
th/Main.dyn_o
th/Main.hi
th/Main.o
videos
